@tailwind base;
@tailwind components;
@tailwind utilities;


/* For Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 12px; /* Adjust the width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #E6CCB2; /* Sandy Beige background for the track */
}

::-webkit-scrollbar-thumb {
  background: #8B4513; /* Olive Green for the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #D17A5A; /* Terracotta for the thumb when hovered */
}

/* For Firefox */
.scrollbar {
  scrollbar-width: thin; /* Thin scrollbar */
  scrollbar-color: #8B4513 #E6CCB2; /* Olive Green thumb, Sandy Beige track */
}

/* For Internet Explorer and Edge (older versions) */
::-ms-scrollbar {
  width: 12px; /* Adjust the width of the scrollbar */
}

::-ms-scrollbar-track {
  background: #E6CCB2; /* Sandy Beige background for the track */
}

::-ms-scrollbar-thumb {
  background: #8B4513; /* Olive Green for the thumb */
}

::-ms-scrollbar-thumb:hover {
  background: #D17A5A; /* Terracotta for the thumb when hovered */
}

/* Override the default color */
#nprogress .bar {
  background: #8B4513; /* Set your desired color */
  z-index: 9999;
}

/* Customize the height of the progress bar */
#nprogress .bar {
  height: 4px; /* Adjust the thickness */
}
